.Skills-container {
  max-width: 1100px;
  margin: 0 auto;
  background: #08090c;
  padding: 10px;
  box-shadow: 0 0px 20px -2px #1f2235;
  color: #f0f8ff;
  border-radius: 12px;
  display: flex;

  font-size: 1.5rem;
}

.skills-icon svg {
  padding-right: 0.5rem;
  height: 3rem;
  width: 3rem;
}
.skill-left-section ul {
  padding: 0 15px;
}
.skill-left-section ul > li {
  list-style: none;
  margin-bottom: 1rem;
}
.skill-left-section ul > li > a {
  text-decoration: none;
  background: linear-gradient(
    94.53deg,
    #1a1c25 1.87%,
    #1f222c 100%,
    #1c1e25 100%
  );
  border: 1px solid #2d303a;
  border-radius: 5px;
  padding: 15px 30px;
  color: #e0e0e0;
  display: block;
}
.skill-left-section ul > li:hover a,
.skill-left-section ul > li.active > a {
  color: #fff;
  background: linear-gradient(270deg, #f24f60 10.36%, #a5066c 95.36%);
  box-shadow: 0px 17px 32px rgb(0 0 0 / 25%);
}

.skill-right-section {
  border-radius: 10px;
  background: #1a1c25;
  border: 0.5px solid #2d303a;
  padding: 10px 0;
}

.skill-right-section ul {
  list-style: none;
  padding: 0;
  margin: 0 2.2rem;
}

.skill-right-section ul > li {
  padding: 2rem 1.5rem;
  margin: 0;
  border-bottom: 1px solid #2d303a;
  font-size: 1.2rem;
}

.css,
.js,
.react {
  display: none;
}
@media (min-width: 576px) {
  .skill-left-section {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .skill-right-section {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
