.home-section {
  padding-top: 18rem;
  background: url(../../assets/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 16rem;
  position: relative;
}
.home-container {
  max-width: 1100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 10%;
  min-height: fit-content;
  margin: 0 auto;
}

.home-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f0f8ff;
}
.profile-name {
  font-size: 6rem;
  font-family: "Poppins";
  font-weight: 700;
}
.highlighted {
  color: var(--color-highlight);
}
.profile-text h1 {
  font-size: 40px;
  font-family: cursive;
}
.profile-role {
  margin-bottom: 2rem;
}
.profile-options a {
  border: 2px solid #fff;
  margin: 2rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background: var(--color-primary);
}
.profile-options a:hover {
  background: var(--color-gradient);
}
.home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 0 0 var(--color-highlight);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0 0 100px;
}
.profile-picture {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-color: var(--color-highlight);
}

.profile-picture:hover {
  transform: scale(1.03);
  transition: all 200ms ease-out;
}
.social-icons {
  display: flex;
  top: 35%;
  left: 0;
  position: fixed;
}

.social-icons > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -100px;
  width: 160px;
  height: 60px;
}
.social-icons > ul > li.linkedin {
  background-color: #3444ad;
}
.social-icons > ul > li.email {
  background-color: #1f2235;
}
.social-icons > ul > li.skype {
  background-color: #43467d;
}
.social-icons > ul > li.github {
  background-color: #7034b6;
}
.social-icons > ul > li:hover {
  margin-left: -10px;
  transition-duration: 1s;
}
.social-icons > ul > li a {
  /* font-size: 1.5rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
}

.social-icons > ul > li > a svg {
  height: 30px;
  width: 30px;
}

.footer-container {
  height: 16.8%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* .footer-parent img {
  max-width: 100%;
  height: 130px;
  margin-bottom: -8px;
} */

.footer-parent img {
  max-width: 100%;
  height: 122px;
}
