.contact-container {
  width: var(--container-lg);
  padding: 1.5rem;
  box-shadow: 0 0px 20px -2px #1f2235;
  border-radius: 12px;
  margin: 0 auto;
  background: var(--container-gradient);
}

.contact-title h3 {
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  text-align: left;
  font-size: 5rem;
}

.form-img h4 {
  letter-spacing: 0.3rem;
  font-weight: 400;
  color: white;
  font-size: 18px;
  opacity: 0.5;
}
.contact-icons a {
  padding: 7px;
  color: #fff;
  font-size: 1.6rem;
}
.form-container {
  margin: 0 auto;
}
.form-img img {
  opacity: 0.5;
  width: 100%;
}
@media (min-width: 940px) {
  .form-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .form-img {
    flex: 1 1;
    align-self: center;
    margin-right: 2rem;
  }
}
@media (max-width: 1024px) {
  .contact-title h3 {
    font-size: 4rem;
  }
  .contact-container {
    width: var(--container-md);
  }
}

@media (max-width: 600px) {
  #contact {
    padding: 2rem 1.5rem;
  }

  .contact-title h3 {
    font-size: 2.5rem;
  }

  .form-img h4,
  label {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .btn svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .contact-container {
    width: var(--container-sm);
  }
}
