#contact {
  width: 100%;
  padding: 0 0 130px 0;
  background: var(--container-gradient);
}
#contact h2 {
  color: #fff;
}

#contact h2::after {
  border-color: #fff;
}
.contact-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(7, 3, 53, 1);
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
form .btn {
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-self: end;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
  transition: all 0.5s;
  background: rgba(7, 3, 53, 1);
}
form .btn:hover {
  background: var(--color-highlight);
}
.btn i {
  vertical-align: sub;
  padding-left: 5px;
}

@media (min-width: 940px) {
  /* .form-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .form-img {
    flex: 1 1;
    align-self: center;
    margin-right: 2rem;
  } */
}
@media (max-width: 1024px) {
  /* .contact-title h3 {
    font-size: 4rem;
  }
  .contact-container {
    width: var(--container-md);
  } */
}

@media (max-width: 600px) {
  form {
    max-width: 300px;
  }
  form .btn {
    border: 1px solid #fff;
    align-self: center;
    font-size: 10pt;
    padding: 5px 15px;
  }
  #contact {
    padding: 0 0 57px 0;
  }
}
