form {
  width: auto;
  box-shadow: 0 0 2px 1px #fff;
  display: flex;
  color: #111;
  padding: 3.5rem 2rem 3.5rem 2rem;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
  background: var(--form-gradient);
  box-shadow: 0 0 20px -2px #fff;
  border-radius: 12px;
  border: 2px solid var(--color-form);
}

label {
  margin-bottom: 1rem;
  color: #111;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}

input,
textarea {
  width: 100%;
  border: 2px solid var(--color-form);
  outline: none;
  background-color: rgb(240 236 236 / 60%);
  padding: 1rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  border-radius: 10px;
}

textarea:focus,
input:focus {
  border: 2px solid var(--color-form);
  background-color: #fff;
}
.btn {
  border: 2px solid var(--color-form);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background: var(--color-form);
  width: 30%;
}

.btn svg {
  height: 2rem;
  width: 2rem;
  vertical-align: bottom;
}
.btn:hover {
  background: linear-gradient(270deg, #341291 10.36%, #cd96b9 95.36%);
}
@media screen and (min-width: 940px) {
  form {
    width: 50%;
  }
}
