form {
  width: auto;
  box-shadow: 0 0 2px 1px #fff;
  display: flex;
  color: #111;
  padding: 25px 15px 15px 15px;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
  background-color: #fff;
  box-shadow: 0 0 20px -2px #1f2235;
  border-radius: 12px;
}

label {
  margin-bottom: 5px;
  color: #111;
  letter-spacing: 0.2rem;
}

input,
textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 10px;
}

textarea:focus,
input:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
.btn {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background: #08090c;
  width: 30%;
}

.btn svg {
  height: 2rem;
  width: 2rem;
  vertical-align: bottom;
}
.btn:hover {
  background: linear-gradient(270deg, #f24f60 10.36%, #a5066c 95.36%);
}
@media screen and (min-width: 940px) {
  form {
    width: 50%;
  }
}
