* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #1f2235;
  font-family: "Poppins";
  font-weight: 500;
  margin: 2rem;
}
.separator {
  border-bottom: 2px solid #1f221f;
  width: 100px;
  margin: 0 auto;
  border-style: double;
}
