:root {
  --color-primary: #08090c;
  --color-gradient: linear-gradient(270deg, #f24f60 10.36%, #a5066c 95.36%);
  --color-highlight: #ff5823;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  background: var(--color-gradient);
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

h2 {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  margin: 4rem auto;
  width: 20%;
  border-bottom: 2px solid white;
}
